.industries_we_serve {
    background-color: #f1f5fe;
}

.industries_section {
    padding: 0rem;
}

.sec-title {
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.sec-title:before {
    content: "";
    display: table;
    clear: both;
}

.sec-title .h1, .sec-title h2 {
    text-align: center;
    position: relative;
    max-width: 100%;
    margin: auto;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 41px;
    line-height: 56px;
    font-family: open sans;
    font-weight: lighter;
    color: #000;
}

.sec-title p:last-child {
    margin-bottom: 0;
}

.sec-title p:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 20px;
}
.sec-title p {
    display: inline-block;
    line-height: 38px;
    font-size: 21px;
    color: #000;
    max-width: 1064px;
    font-family: "Poppins","Open Sans";
    font-weight: 300;
    font-style: normal;
}

.sec-title:after {
    content: "";
    display: table;
    clear: both;
}

.row-start {
    margin-top: 40px;
}

.industries_section .industries_section_ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
    gap: 3rem;
}

ul {
    font-family: "Poppins","Open Sans";
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
}

.industries_section .industries_section_ul .industries_section_li {
    /* width: calc(100% / 4 - 3rem); */
    width: 100%;
    padding-right: 0rem;
}

.industries_section .industries_section_ul .industries_section_li div {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.industries_section .industries_section_ul .industries_section_li .industries_section_li_figure {
    display: block;
    width: auto;
    height: 36px;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: top;
}

.industries_section .industries_section_ul .industries_section_li div {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.industries_section .industries_section_ul .industries_section_li .industries_section_li_figcaption .industries_section_li_figcaption_head {
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 0;
}


@media screen and (max-width: 480px){
    section {
        padding: 30px 0;
    }
    .industries_section .industries_section_ul .industries_section_li {
        width: 100%;
    }
    }
    
    @media screen and (max-width: 575px){
    .industries_section .industries_section_ul .industries_section_li {
        width: 100%;
    }
    }
    
    @media screen and (max-width: 600px){
    .industries_section .industries_section_ul .industries_section_li {
        width: calc(100% / 2);
    }
    }


@media screen and (max-width: 768px){
.industries_section {
    padding: 0px;
}
.sec-title p {
    font-size: 16px;
    line-height: 28px;
}
.industries_section .industries_section_ul {
    gap: 0px;
}
.industries_section .industries_section_ul {
    padding-top: 2rem;
}

.sec-title .h1, .sec-title h2 {
    font-size: 28px;
    line-height: 35px;
}
.row-start {
    margin-top: 10px;
}
.industries_section .industries_section_ul .industries_section_li {
    width: calc(100% / 2 - 1rem);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
}


@media only screen and (max-width: 980px){
.sec-title {
    max-width: 100%;
}
}

@media screen and (max-width: 1099px){
.industries_section .industries_section_ul {
    gap: 0px;
}
.industries_section .industries_section_ul .industries_section_li {
    width: calc(100% / 3);
}
}

@media screen and (max-width: 1100px){
.industries_section {
    padding: 5rem 0rem;
}
.industries_section .industries_section_ul {
    gap: 2rem;
}
.industries_section .industries_section_ul .industries_section_li {
    width: calc(100% / 3 - 1rem);
    margin: 2rem 0rem;
    padding: 0rem;
}
}