.style-dark .features-block.theme-two h4::before, .style-dark .features-block.theme-two h4::after {
    background:#ffffff;
}
.features-block.theme-three .inner-box {
   min-height: 25vh;
   background: #ffffff;
   -webkit-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
   box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
   border:1px solid #ebebeb; 
   -webkit-transition: all 400ms ease-in-out;
   transition: all 400ms ease-in-out;
   padding:30px 15px;
   position: relative;
   text-align: center;
   overflow: hidden;
   cursor: pointer;
}
.features-block.theme-three .inner-box:hover{
   -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
   box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
   border:1px solid #cccccc; 
}
.features-block.theme-three .icon {
   margin: 0px auto 18px;
   text-align: center;
   display: table;
}
.features-block.theme-three .icon img {
   max-width:68px;
   max-height:68px; 
   -webkit-transition: all 400ms ease-in-out;
   transition: all 400ms ease-in-out;
}
.features-block.theme-three h4 {
   font-size:18px;
   margin-bottom:0; 
   -webkit-transition: all 400ms ease-in-out;
   transition: all 400ms ease-in-out;
}
.features-block.theme-four .inner-box{
   
   background:#ffffff;
   -webkit-border-radius:6px;
   border-radius:6px; 
   -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
   box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
   -webkit-transition:all 400ms ease-in-out;  
   transition:all 400ms ease-in-out;
   padding:40px 50px;
   position:relative; 
   overflow:hidden;
   cursor:pointer;
   display: flex;
}

.features-block.theme-three .inner-box:hover{
	-webkit-box-shadow: 0px 0px 30px 0px rgba(42, 31, 188, 0.4);
    box-shadow: 0px 0px 30px 0px rgba(42, 31, 188, 0.4);
    border:1px solid #488fed; 
}